@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "roboto-regular";
    src: local('Roboto-Regular'),
        url('./assets/font/Roboto-Regular.ttf') format("truetype")
}

@font-face {
    font-family: "newamsterdam";
    src: local('NewAmsterdam-Regular'),
        url('./assets/font/NewAmsterdam-Regular.ttf') format("truetype")
}

@font-face {
    font-family: "oswald";
    src: local('Oswald'),
        url('./assets/font/Oswald.ttf') format("truetype")
}

@font-face {
    font-family: "anton-regular";
    src: local('Anton-Regular'),
        url('./assets/font/Anton-Reguler.ttf') format("truetype")
}

@font-face {
    font-family: "signika";
    src: local('Signika'),
        url('./assets/font/Signika.ttf') format("truetype")
}